
a {
  color: black;
}

.logo-cases-bg {
  background: url('../img/bg-cases.png') no-repeat left center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.md-main-content {
  background-color: #FAFAFA; }


.md-html-table td, .md-html-table th {
  border: 1px solid #DDDDDD;
  padding: 4px;
}

.md-html-table td[disabled] {
  background: #CCCCCC;
}

.md-html-table tbody tr {
  transition: 0.25s background-color;
}
.md-html-table tbody tr:nth-child(even) {
  background-color: rgba(1, 1, 1, 0.02);
}
.md-html-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.kb-sub-tabs md-tabs-canvas{
    margin-right: 190px;
}

.kb-sub-tabs md-next-button{
    right:170px ;
}
