<div class="md-padding-left md-padding-right">
    <h3 layout="row" layout-align="start center"><md-button class="md-icon-button" ng-click="resetOpSheet()"><md-icon>arrow_back</md-icon></md-button> <span translate>Operational risk sheet</span></h3>

    <p><b>R2 - Risque deux</b></p>

    <table class="md-html-table">
        <tbody>
        <tr>
            <td></td>
            <td translate>Prob.</td>
            <td>R</td>
            <td>O</td>
            <td>L</td>
            <td>F</td>
            <td>P</td>
            <td translate>Calculated risk</td>
        </tr>

        <tr>
            <td translate>NET</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr>
            <td translate>Target</td>
            <td inline-edit="target.prob" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click></td>
            <td inline-edit="target.r" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click></td>
            <td inline-edit="target.o" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click></td>
            <td inline-edit="target.l" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click></td>
            <td inline-edit="target.f" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click></td>
            <td inline-edit="target.p" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click></td>
            <td>-</td>
        </tr>
        </tbody>
    </table>

    <form class="md-padding">
        <md-input-container class="md-block">
            <label translate>Observation</label>
            <md-icon>visibility</md-icon>
            <textarea rows="3"></textarea>
        </md-input-container>
        <md-input-container class="md-block">
            <label translate>Processing type</label>
            <md-icon>widgets</md-icon>
            <md-select ng-model="sheet_processing">
                <md-option value="0">{{ 'Not processed' | translate }}</md-option>
                <md-option value="1">{{ 'Reduction' | translate }}</md-option>
                <md-option value="2">{{ 'Denied' | translate }}</md-option>
                <md-option value="3">{{ 'Accepted' | translate }}</md-option>
                <md-option value="4">{{ 'Shared' | translate }}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label translate>Mitigation</label>
            <md-icon>call_missed</md-icon>
            <textarea rows="3"></textarea>
        </md-input-container>

        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary">{{ 'Save changes' | translate }}</md-button>
        </div>
    </form>
</div>