<div class="md-padding-left md-padding-right">
    <h3 layout="row" layout-align="start center"><md-button class="md-icon-button" ng-click="resetSheet()"><md-icon>arrow_back</md-icon></md-button> <span translate>Risk sheet</span></h3>

    <table class="md-html-table">
        <tbody>
        <tr>
            <td class="bold txtright" translate>Threat:</td>
            <td>Erreur d'utilisation</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Vulnerability:</td>
            <td>Les administrateurs n'ont pas suivi des formations à la sécurité</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Observations:</td>
            <td>Hello world</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Threat probability:</td>
            <td>4</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Vulnerability qualification:</td>
            <td>3</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #1:</td>
            <td>7.2.2 - Sensibilisation, qualification et formations en matière de sécurité de l'information</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #2:</td>
            <td>7.2.2 - Sensibilisation, qualification et formations en matière de sécurité de l'information</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #3:</td>
            <td>7.2.2 - Sensibilisation, qualification et formations en matière de sécurité de l'information</td>
        </tr>
        </tbody>
    </table>

    <table class="tbl-risk-calc">
        <thead>
        <tr>
            <th></th>
            <th>C</th>
            <th>I</th>
            <th>D</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="bold txtright wide" translate>Current risk</td>
            <td class="txtcenter green">-1</td>
            <td class="txtcenter green">-1</td>
            <td class="txtcenter green">-1</td>
        </tr>
        <tr>
            <td class="bold txtright wide" translate>Target risk</td>
            <td class="txtcenter green">-1</td>
            <td class="txtcenter green">-1</td>
            <td class="txtcenter green">-1</td>
        </tr>
        </tbody>
    </table>

    <form class="md-padding">
        <md-input-container class="md-block">
            <label translate>Processing type</label>
            <md-icon>widgets</md-icon>
            <md-select ng-model="sheet_processing">
                <md-option value="0">{{ 'Not processed' | translate }}</md-option>
                <md-option value="1">{{ 'Reduction' | translate }}</md-option>
                <md-option value="2">{{ 'Denied' | translate }}</md-option>
                <md-option value="3">{{ 'Accepted' | translate }}</md-option>
                <md-option value="4">{{ 'Shared' | translate }}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label translate>Reduce vulnerability by</label>
            <md-icon>trending_down</md-icon>
            <md-select ng-model="sheet_reduction">
                <md-option value="0">0</md-option>
                <md-option value="1">1</md-option>
                <md-option value="2">2</md-option>
                <md-option value="3">3</md-option>
            </md-select>
        </md-input-container>

        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary">{{ 'Save changes' | translate }}</md-button>
        </div>
    </form>
</div>