<div layout="row" layout-align="center center" class="md-main-content" ng-controller="BackofficeLoginCtrl" flex>
    <div layout="column" flex="30" class="md-whiteframe-12dp">
        <md-toolbar class="md-padding">
            <h2>CASES Portal - Login</h2>
        </md-toolbar>

        <form layout="column" class="md-padding">
            <md-input-container flex>
                <label translate>Email</label>
                <md-icon>email</md-icon>
                <input ng-model="user.email" type="email">
            </md-input-container>

            <md-input-container flex>
                <label translate>Password</label>
                <md-icon>vpn_key</md-icon>
                <input ng-model="user.password" type="password">
            </md-input-container>

            <div layout="row">
                <span flex></span>
                <md-button class="md-primary" ng-click="login()" ng-hide="isLoggingIn">{{ 'Log in' | translate }}</md-button>
                <md-progress-circular ng-show="isLoggingIn" md-mode="indeterminate"></md-progress-circular>
            </div>
        </form>
    </div>
</div>