<div ng-controller="BackofficeAccountCtrl" ng-init="refreshProfile()">
    <md-card>
        <md-card-title>
            <span class="md-headline" translate>My account details</span>
        </md-card-title>
        <md-card-content>
            <form layout="column" name="accountForm" flex>
                <p class="md-subhead" translate>Personal information</p>

                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label translate>First name</label>
                        <md-icon>person</md-icon>
                        <input type="text" ng-model="user.firstname">
                    </md-input-container>

                    <md-input-container class="md-block md-padding-left" flex>
                        <label translate>Last name</label>
                        <input type="text" ng-model="user.lastname">
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label translate>E-mail</label>
                    <md-icon>email</md-icon>
                    <input type="email" name="email" autocomplete="email" ng-model="user.email" ng-pattern="/^([\w-]+\.?)+(\+[\w-]+)?@([0-9a-zA-Z\-]{2,}\.)+[a-zA-Z]{2,7}$/">
                    <div ng-messages="accountForm.email.$error">
                        <div ng-message="required">{{ 'The first user email may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <md-button class="md-primary md-raised" ng-click="updateProfile();" type="submit">{{ 'Save changes' | translate }}</md-button>
                </div>
            </form>

            <form layout="column" name="passwordForm" flex>
                <p class="md-subhead" translate>Change password</p>

                <div layout="column" flex>
                    <md-input-container class="md-block" flex>
                        <label translate>Current password</label>
                        <md-icon>no_encryption</md-icon>
                        <input type="password" ng-model="password.old" autocomplete="off" flex>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label translate>New password</label>
                        <md-icon>enhanced_encryption</md-icon>
                        <input type="password" name="passwordnew" ng-model="password.new" autocomplete="off" ng-minlength="9" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{9,}/" flex>
                        <div ng-messages="passwordForm.passwordnew.$error" ng-messages-multiple>
                            <p ng-message="minlength" translate>Your password is too short (min 9 characters).</p>
                            <p ng-message="pattern" translate>Your password must contain at least: one uppercase, one number and one special character.</p>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label translate>Confirm new password</label>
                        <md-icon>enhanced_encryption</md-icon>
                        <input type="password" name="passwordconfirm" ng-model="password.confirm" autocomplete="off" flex>
                        <div ng-messages="passwordForm.passwordconfirm.$error" ng-messages-multiple>
                            <p ng-if="password.new != '' && password.confirm != '' && password.new != password.confirm">The passwords don't match.</p>
                        </div>
                    </md-input-container>

                    <div layout="row">
                        <md-button class="md-raised md-primary" ng-click="updatePassword()" ng-disabled="password.old == '' || password.new == '' || password.old == '' || password.new != password.confirm || passwordForm.passwordnew.$invalid || passwordForm.passwordconfirm.$invalid" type="submit">{{ 'Update password' | translate }}</md-button>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
