<md-tabs md-dynamic-height>
    <md-tab label="{{ 'General information' | translate }}">
        <div class="md-padding">
            <h4 translate>Calculation of risk / Thresholds - Information Risks</h4>

            <table class="tbl-risk-calc">
                <tbody>
                <tr>
                    <th></th>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>12</th>
                    <th>15</th>
                    <th>16</th>
                    <th>20</th>
                </tr>
                <tr>
                    <th>0</th>
                    <td class="green">0</td>
                    <td class="green">0</td>
                    <td class="green">0</td>
                    <td class="green">0</td>
                    <td class="green">0</td>
                    <td class="orange">0</td>
                    <td class="orange">0</td>
                    <td class="orange">0</td>
                    <td class="orange">0</td>
                    <td class="orange">0</td>
                    <td class="orange">0</td>
                    <td class="red">0</td>
                    <td class="red">0</td>
                    <td class="red">0</td>
                </tr>
                </tbody>
            </table>

            <h4 translate>Calculation of risk / Thresholds - Operational Risks</h4>

            <table class="tbl-risk-calc">
                <tbody>
                <tr>
                    <th></th>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
                <tr>
                    <th>0</th>
                    <td class="green">0</td>
                    <td class="green">0</td>
                    <td class="green">0</td>
                    <td class="green">0</td>
                    <td class="green">0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-tab>

    <md-tab label="{{ 'Risks table' | translate }}"></md-tab>
    <md-tab label="{{ 'OP risks table' | translate }}"></md-tab>
</md-tabs>