<md-tabs md-dynamic-height>
    <md-tab label="{{ 'General information' | translate }}">
        <div class="md-padding">
            <h4 translate>Calculation of risk / Thresholds - Information Risks</h4>

            <table class="tbl-risk-calc">
                <tbody>
                <tr>
                    <th></th>
                    <th ng-repeat="v in info_risk_columns">{{v}}</th>
                </tr>
                <tr ng-repeat="i in info_risk_rows">
                    <th>{{i}}</th>
                    <td ng-class="{'green': v*i < 10, 'orange': v*i < 20 && v*i >= 10, 'red': v*i >= 20}" ng-repeat="v in info_risk_columns">{{v*i}}</td>
                </tr>
                </tbody>
            </table>

            <h4 translate>Calculation of risk / Thresholds - Operational Risks</h4>

            <table class="tbl-risk-calc">
                <tbody>
                <tr>
                    <th></th>
                    <th ng-repeat="p in range(scales.threats.min, scales.threats.max)">{{p}}</th>
                </tr>
                <tr ng-repeat="i in range(scales.impacts.min, scales.impacts.max)">
                    <th>{{i}}</th>
                    <td ng-repeat="p in range(scales.threats.min, scales.threats.max)" class="green">{{i*p}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-tab>

    <md-tab label="{{ 'Risks table' | translate }}"></md-tab>
    <md-tab label="{{ 'OP risks table' | translate }}"></md-tab>
</md-tabs>