<div flex ng-controller="BackofficeDeliveriesModelsCtrl">
    <div style="position: relative;">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <h2 class="md-title" translate>Document templates</h2>
            </div>
        </md-toolbar>

        <md-table-container flex>
            <md-button class="md-fab md-accent md-fab-top-right table-fab-top" aria-label="{{ 'Add a document template' | translate }}" ng-click="createNewDeliveryModel($event)">
                <md-tooltip md-direction="left">
                    {{ 'Add a document template' | translate }}
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column><span translate>Category</span></th>
                    <th md-column><span translate>Description</span></th>
                    <th md-column><span translate>Actions</span></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row ng-repeat="deliverymodel in deliveriesmodels">
                    <td md-cell>{{ getCategoryLabel(deliverymodel.category) }}</td>
                    <td md-cell>{{ deliverymodel[_langField('description')] }}</td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="downloadDeliveryModel($event, deliverymodel)">
                            <md-icon>file_download</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="editDeliveryModel($event, deliverymodel)">
                            <md-icon>edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="deleteDeliveryModel($event, deliverymodel)">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>