<div flex ng-controller="BackofficeKbModelsDetailsCtrl">
    <div layout="column" layout-align="center center" ng-if="!model" flex class="md-padding">
        <md-progress-circular md-indeterminate="true"></md-progress-circular>
    </div>

    <div layout="column" ng-if="model" class="md-padding-left md-padding-right">
        <h2>{{ ::model.label1 }}</h2>

        <md-card>
            <md-tabs md-border-bottom="true" md-dynamic-height>
                <md-tab label="{{ 'Risk analysis' | translate }}">
                    <div layout="row" layout-padding>
                        <div flex="20" layout="column">
                            <md-button ui-sref="main.kb_mgmt.models.details({modelId: model.id})" style="margin:0 0 8px 0;"><md-icon>home</md-icon> {{ 'Risk analysis overview' | translate }}</md-button>

                            <p class="md-subheader" translate>Risk analysis</p>
                            <md-input-container class="md-block">
                                <md-icon>search</md-icon>
                                <label translate>Search an instance...</label>
                                <input type="text">
                            </md-input-container>

                            <tree-dnd
                                      tree-data="tree_data"
                                      tree-control="my_tree"
                                      filter="_filter"
                                      callbacks="callbacks"
                                      primary-key="id"
                                      column-defs="col_defs"
                                      expand-on="expanding_property"
                                      template-url="tree-dnd-template-render.html"
                                      indent="25"
                                      indent-plus="0"
                                      indent-unit="px"
                                      enable-move="true">

                            </tree-dnd>

                            <p></p>

                            <p class="md-subheader" translate>Objects library</p>
                            <div layout="row" layout-align="center center">
                                <md-input-container class="md-block">
                                    <md-icon>search</md-icon>
                                    <label translate>Search an object...</label>
                                    <input type="text">
                                </md-input-container>
                                <md-button class="md-icon-button"><md-icon>add</md-icon></md-button>
                            </div>

                            <ul class="md-treeview">
                                <li class="md-treeview-root">
                                    <a><md-icon>place</md-icon> {{ 'Objects' | translate }}</a>
                                    <ul>
                                        <li ng-repeat="node in objects_library"
                                            ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
                                            ng-include="'objlibs.tree_item_template.html'"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div flex ui-view="anr"></div>
                    </div>

                </md-tab>

                <md-tab label="{{ 'Evaluation scales' | translate }}">
                    <div class="md-padding-left md-padding-right" layout="column">
                        <div layout="row">
                            <h4><span translate>Impacts scale:</span> [
                                <span class="small text-blue" inline-edit="scales.impacts.min" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-validation="inlineNumberValidator(newValue)" inline-edit-on-click></span> -
                                <span class="small text-blue" inline-edit="scales.impacts.max" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-validation="inlineNumberValidator(newValue)" inline-edit-on-click></span> ]
                            </h4>
                        </div>

                        <table class="md-html-table">
                            <thead>
                            <tr>
                                <th></th>
                                <th translate>Confidentiality</th>
                                <th translate>Integrity</th>
                                <th translate>Availability</th>
                                <th translate>Reputation</th>
                                <th translate>Operational</th>
                                <th translate>Legal</th>
                                <th translate>Financial</th>
                                <th translate>Person</th>
                                <!-- <th ng-repeat="custom in customColumns"></th> -->
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="i in range(scales.impacts.min, scales.impacts.max)">
                                <td>{{ i }}</td>
                                <td><span inline-edit="impact[i].confidentiality" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></td>
                                <td><span inline-edit="impact[i].integrity" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></td>
                                <td><span inline-edit="impact[i].availability" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></td>
                                <td><span inline-edit="impact[i].reputation" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></td>
                                <td><span inline-edit="impact[i].operational" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></td>
                                <td><span inline-edit="impact[i].legal" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></td>
                                <td><span inline-edit="impact[i].financial" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></td>
                                <td><span inline-edit="impact[i].person" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></td>
                            </tr>
                            </tbody>
                        </table>

                        <h4><span translate>Threats scale:</span> [
                            <span class="small text-blue" inline-edit="scales.threats.min" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-validation="inlineNumberValidator(newValue)" inline-edit-on-click></span> -
                            <span class="small text-blue" inline-edit="scales.threats.max" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-validation="inlineNumberValidator(newValue)" inline-edit-on-click></span> ]
                        </h4>

                        <ul class="no-list-style">
                            <li ng-repeat="i in range(scales.threats.min, scales.threats.max)">{{i}}. <span inline-edit="threat[i]" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></li>
                        </ul>

                        <h4><span translate>Vulnerabilities scale:</span> [
                            <span class="small text-blue" inline-edit="scales.vulns.min" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-validation="inlineNumberValidator(newValue)" inline-edit-on-click></span> -
                            <span class="small text-blue" inline-edit="scales.vulns.max" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-validation="inlineNumberValidator(newValue)" inline-edit-on-click></span> ]
                        </h4>

                        <ul class="no-list-style">
                            <li ng-repeat="i in range(scales.vulns.min, scales.vulns.max)">{{i}}. <span inline-edit="vuln[i]" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-textarea inline-edit-placeholder="{{ 'Click here to type...' | translate }}"></span></li>
                        </ul>
                    </div>
                </md-tab>
            </md-tabs>
        </md-card>
    </div>
</div>

<script type="text/ng-template" id="tree-dnd-template-render.html">
<table ng-class="$tree_class">
    <tbody tree-dnd-nodes>
    <tr tree-dnd-node="node" ng-repeat="node in tree_nodes track by node.__hashKey__"
        ng-show="node.__visible__" ng-class="node.__selected__ ? 'active':''" ng-click="onSelect(node)">
        <td tree-dnd-node-handle ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__), 'font-weight': 'normal'}"
            ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">
            <a data-nodrag><md-icon ng-click="toggleExpand(node)" class="tree-icon" ng-if="node.__children__.length > 0">{{ node.__expanded__ ? 'expand_less' : 'expand_more' }}</md-icon></a>
            <a data-nodrag ng-if="!node.__children__ || node.__children__.length == 0" ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})"><md-icon>class</md-icon></a>
            {{node[expandingProperty.field] || node[expandingProperty]}}
        </td>
    </tr>
    </tbody>
</table>
</script>

<script type="text/ng-template" id="objlibs.tree_item_template.html">
    <a style="cursor:pointer" ng-if="node.children && node.children.length > 0" ng-click="node.__visible__ = !node.__visible__"><md-icon>{{ node.__visible__ ? 'remove' : 'add' }}</md-icon> {{ node.name1 }}</a>
    <a ui-sref="main.kb_mgmt.models.details.object({objectId: node.id})"  ng-if="!node.children || node.children.length == 0"><md-icon>note</md-icon> {{ node.name1 }}</a>

    <ul ng-if="node.children && node.children.length > 0" ng-show="node.__visible__">
        <li ng-repeat="node in node.children"
            ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
            ng-include="'objlibs.tree_item_template.html'"></li>
    </ul>
</script>