<div flex ng-controller="BackofficeKbInfoCtrl">
    <md-tabs md-dynamic-height="true" md-border-bottom="true">
        <md-tab label="{{ 'Assets' | translate }}" md-on-select="selectAssetsTab()" md-on-deselect="deselectAssetsTab()">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="assets.selected.length || assets.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" translate>Assets</h2>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="assets.filter.show = true">
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default" ng-show="assets.filter.show && !assets.selected.length">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="assets.filter.form">
                        <input type="text" ng-model="assets.query.filter" ng-model-options="assets.filter.options" placeholder="{{ 'Search...' | translate }}">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeAssetsFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="assets.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{assets.selected.length}} {{assets.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteAssetMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="assets.selected" md-progress="assets.promise">
                    <thead md-head md-order="assets.query.order" md-on-reorder="updateAssets">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Active</span></th>
                        <th md-column md-order-by="label1"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="type"><span translate>Type</span></th>
                        <th md-column md-order-by="mode"><span translate>Mode</span></th>
                        <th md-column md-order-by="description1"><span translate>Description</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="asset" md-select-id="id" ng-repeat="asset in assets.items.assets">
                        <td md-cell><md-icon>{{ asset.status ? 'done' : 'clear' }}</md-icon></td>
                        <td md-cell>{{ asset.label1 }}</td>
                        <td md-cell>{{ asset.code }}</td>
                        <td md-cell>{{ assetTypeStr(asset.type) }}</td>
                        <td md-cell>{{ assetModeStr(asset.mode) }}</td>
                        <td md-cell>{{ asset.description1 }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editAsset($event, asset)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteAsset($event, asset)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="assets.query.limit" md-limit-options="[5, 10, 15]" md-page="assets.query.page"
                                 md-total="{{assets.items.count}}" md-on-paginate="updateAssets" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>

            <div layout="row" class="md-padding">
                <span flex></span>
                <md-button class="md-fab md-accent" aria-label="{{ 'New asset' | translate }}" ng-click="createNewAsset($event)">
                    <md-tooltip md-direction="left">
                        {{ 'New asset' | translate }}
                    </md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-tab>

        <md-tab label="{{ 'Threats' | translate }}" md-on-select="selectThreatsTab()" md-on-deselect="deselectThreatsTab()">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="threats.selected.length || threats.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" translate>Threats</h2>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="threats.filter.show = true">
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default" ng-show="threats.filter.show && !threats.selected.length">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="threats.filter.form">
                        <input type="text" ng-model="threats.query.filter" ng-model-options="threats.filter.options" placeholder="{{ 'Search...' | translate }}">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeThreatsFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="threats.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{threats.selected.length}} {{threats.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteThreatMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="threats.selected" md-progress="threats.promise">
                    <thead md-head md-order="threats.query.order" md-on-reorder="updateThreats">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="label1"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column><span translate>CID</span></th>
                        <th md-column md-order-by="mode"><span translate>Mode</span></th>
                        <th md-column md-order-by="description"><span translate>Description</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="threat" md-select-id="id" ng-repeat="threat in threats.items.threats">
                        <td md-cell><md-icon>{{ threat.status ? 'done' : 'clear' }}</md-icon></td>
                        <td md-cell>{{ threat.label1 }}</td>
                        <td md-cell>{{ threat.code }}</td>
                        <td md-cell>{{ threat.c ? 'C' : '' }}{{ threat.i ? 'I' : '' }}{{ threat.d ? 'D' : '' }}</td>
                        <td md-cell>{{ getThreatModeString(threat.mode) }}</td>
                        <td md-cell>{{ threat.description1 }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editThreat($event, threat)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteThreat($event, threat)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="threats.query.limit" md-limit-options="[5, 10, 15]" md-page="threats.query.page"
                                 md-total="{{threats.items.count}}" md-on-paginate="updateThreats" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>

            <div layout="row" class="md-padding">
                <span flex></span>
                <md-button class="md-fab md-accent" aria-label="{{ 'New threat' | translate }}" ng-click="createNewThreat($event)">
                    <md-tooltip md-direction="left">
                        {{ 'New threat' | translate }}
                    </md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-tab>

        <md-tab label="{{ 'Vulns' | translate }}" md-on-select="selectVulnsTab()" md-on-deselect="deselectVulnsTab()">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="vulns.selected.length || vulns.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" translate>Vulnerabilities</h2>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="vulns.filter.show = true">
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default" ng-show="vulns.filter.show && !vulns.selected.length">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="vulns.filter.form">
                        <input type="text" ng-model="vulns.query.filter" ng-model-options="vulns.filter.options" placeholder="{{ 'Search...' | translate }}">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeVulnsFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="vulns.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{vulns.selected.length}} {{vulns.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteVulnMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="vulns.selected" md-progress="vulns.promise">
                    <thead md-head md-order="vulns.query.order" md-on-reorder="updateVulns">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Active</span></th>
                        <th md-column md-order-by="label1"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="mode"><span translate>Mode</span></th>
                        <th md-column md-order-by="description"><span translate>Description</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="vuln" md-select-id="id" ng-repeat="vuln in vulns.items.vulnerabilities">
                        <td md-cell><md-icon>{{ vuln.status ? 'done' : 'clear' }}</md-icon></td>
                        <td md-cell>{{ vuln.label1 }}</td>
                        <td md-cell>{{ vuln.code }}</td>
                        <td md-cell>{{ getVulnModeString(vuln.mode) }}</td>
                        <td md-cell>{{ vuln.description }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editVuln($event, vuln)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteVuln($event, vuln)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="vulns.query.limit" md-limit-options="[5, 10, 15]" md-page="vulns.query.page"
                                 md-total="{{vulns.items.count}}" md-on-paginate="updateVulns" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>

            <div layout="row" class="md-padding">
                <span flex></span>
                <md-button class="md-fab md-accent" aria-label="{{ 'New vulnerability' | translate }}" ng-click="createNewVuln($event)">
                    <md-tooltip md-direction="left">
                        {{ 'New vuln' | translate }}
                    </md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-tab>

        <md-tab label="{{ '27002 measures' | translate }}" md-on-select="selectMeasuresTab()" md-on-deselect="deselectMeasuresTab()">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="measures.selected.length || measures.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" translate>27002 Measures</h2>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="measures.filter.show = true">
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default" ng-show="measures.filter.show && !measures.selected.length">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="measures.filter.form">
                        <input type="text" ng-model="measures.query.filter" ng-model-options="measures.filter.options" placeholder="{{ 'Search...' | translate }}">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeMeasuresFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="measures.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{measures.selected.length}} {{measures.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteMeasureMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="measures.selected" md-progress="measures.promise">
                    <thead md-head md-order="measures.query.order" md-on-reorder="updateMeasures">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Active</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="description1"><span translate>Description</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="measure" md-select-id="id" ng-repeat="measure in measures.items.measures">
                        <td md-cell><md-icon>{{ measure.status ? 'done' : 'clear' }}</md-icon></td>
                        <td md-cell>{{ measure.code }}</td>
                        <td md-cell>{{ measure.description1 }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editMeasure($event, measure)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteMeasure($event, measure)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="measures.query.limit" md-limit-options="[5, 10, 15]" md-page="measures.query.page"
                                 md-total="{{measures.items.count}}" md-on-paginate="updateMeasures" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>

            <div layout="row" class="md-padding">
                <span flex></span>
                <md-button class="md-fab md-accent" aria-label="{{ 'New measure' | translate }}" ng-click="createNewMeasure($event)">
                    <md-tooltip md-direction="left">
                        {{ 'New measure' | translate }}
                    </md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-tab>

        <md-tab label="{{ 'AMVs' | translate }}" md-on-select="selectAmvsTab()" md-on-deselect="deselectAmvsTab()">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="amvs.selected.length || amvs.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" translate>AMVs links</h2>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="amvs.filter.show = true">
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default" ng-show="amvs.filter.show && !amvs.selected.length">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="amvs.filter.form">
                        <input type="text" ng-model="amvs.query.filter" ng-model-options="amvs.filter.options" placeholder="{{ 'Search...' | translate }}">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeAmvsFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="amvs.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{amvs.selected.length}} {{amvs.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteAmvMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="amvs.selected" md-progress="amvs.promise">
                    <thead md-head md-order="amvs.query.order" md-on-reorder="updateAmvs">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Active</span></th>
                        <th md-column md-order-by="asset"><span translate>Asset</span></th>
                        <th md-column md-order-by="threat"><span translate>Threat</span></th>
                        <th md-column md-order-by="vulnerability"><span translate>Vulnerability</span></th>
                        <th md-column md-order-by="measure1"><span translate>Measure 1</span></th>
                        <th md-column md-order-by="measure2"><span translate>Measure 2</span></th>
                        <th md-column md-order-by="measure3"><span translate>Measure 3</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="amv" md-select-id="id" ng-repeat="amv in amvs.items.amvs">
                        <td md-cell><md-icon>{{ amv.status ? 'done' : 'clear' }}</md-icon></td>
                        <td md-cell>{{ amv.asset.code }} - {{ amv.asset.label1 }}</td>
                        <td md-cell>{{ amv.threat.code }} - {{ amv.threat.label1 }}</td>
                        <td md-cell>{{ amv.vulnerability.code }} - {{ amv.vulnerability.label1 }}</td>
                        <td md-cell>{{ amv.measure1.code }} - {{ amv.measure1.description1 }}</td>
                        <td md-cell>{{ amv.measure2.code }} - {{ amv.measure2.description1 }}</td>
                        <td md-cell>{{ amv.measure3.code }} - {{ amv.measure3.description1 }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editAmv($event, amv)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteAmv($event, amv)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="amvs.query.limit" md-limit-options="[5, 10, 15]" md-page="amvs.query.page"
                                 md-total="{{amvs.items.count}}" md-on-paginate="updateAmvs" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>

            <div layout="row" class="md-padding">
                <span flex></span>
                <md-button class="md-fab md-accent" aria-label="{{ 'New AMV link' | translate }}" ng-click="createNewAmv($event)">
                    <md-tooltip md-direction="left">
                        {{ 'New AMV link' | translate }}
                    </md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-tab>

        <md-tab label="{{ 'Objects library' | translate }}" md-on-select="selectObjlibsTab()" md-on-deselect="deselectObjlibsTab()">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="objlibs.selected.length || objlibs.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" translate>Objects library</h2>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="objlibs.filter.show = true">
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default" ng-show="objlibs.filter.show && !objlibs.selected.length">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="objlibs.filter.form">
                        <input type="text" ng-model="objlibs.query.filter" ng-model-options="objlibs.filter.options" placeholder="{{ 'Search...' | translate }}">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeObjlibsFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="objlibs.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{objlibs.selected.length}} {{objlibs.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteObjlibMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <div layout="row" class="md-padding-left" layout-align="space-around center">
                <p class="md-padding-right" translate>Filter:</p>

                <md-select ng-model="objlib_category_filter" aria-label="{{ 'Category' | translate }}" placeholder="{{ 'Category' | translate }}" flex>
                    <md-option value="0">{{ 'All categories' | translate }}</md-option>
                </md-select>

                <md-switch aria-label="{{ 'Lock' | translate }}'" class="md-padding-left md-padding-right"
                           ng-model="objlib_lockswitch" ng-true-value="true" ng-false-value="false">{{ 'Lock' | translate }}</md-switch>

                <md-select ng-model="objlib_asset_filter" aria-label="{{ 'Asset type' | translate }}" placeholder="{{ 'Asset type' | translate }}" flex>
                    <md-option value="0">{{ 'All assets' | translate }}</md-option>
                    <md-option ng-repeat="asset in objlib_assets" ng-value="asset.id">{{ asset.code }} - {{ asset.label1 }}</md-option>
                </md-select>

                <md-button class="md-icon-button" ng-click="resetObjlibsFilters()">
                    <md-tooltip>{{ 'Reset filters' | translate }}</md-tooltip>
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="objlibs.selected" md-progress="objlibs.promise">
                    <thead md-head md-order="objlibs.query.order" md-on-reorder="updateObjlibs">
                    <tr md-row>
                        <th md-column><span translate>Category</span></th>
                        <th md-column md-order-by="name1"><span translate>Name</span></th>
                        <th md-column md-order-by="label1"><span translate>Label</span></th>
                        <th md-column><span translate>Asset type</span></th>
                        <th md-column md-order-by="scope"><span translate>Scope</span></th>
                        <th md-column md-order-by="mode"><span translate>Mode</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="objlib" md-select-id="id" ng-repeat="objlib in objlibs.items.objlibs">
                        <td md-cell>{{ objlib.category.label1 }}</td>
                        <td md-cell>{{ objlib.name1 }}</td>
                        <td md-cell class="clickable-rows" ui-sref="main.kb_mgmt.info_risk.object({objectId: objlib.id})">{{ objlib.label1 }}</td>
                        <td md-cell>{{ objlib.type }}</td>
                        <td md-cell>{{ objlib.scope }}</td>
                        <td md-cell>{{ objlib.mode }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ui-sref="main.kb_mgmt.info_risk.object({objectId: objlib.id})"><md-icon>open_in_new</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="editObjlib($event, objlib);"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteObjlib($event, objlib)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="objlibs.query.limit" md-limit-options="[5, 10, 15]" md-page="objlibs.query.page"
                                 md-total="{{objlibs.items.count}}" md-on-paginate="updateObjlibs" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>

            <div layout="row" class="md-padding">
                <span flex></span>
                <md-button class="md-fab md-accent" aria-label="{{ 'New object' | translate }}" ng-click="createNewObjlib($event)">
                    <md-tooltip md-direction="left">
                        {{ 'New object' | translate }}
                    </md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-tab>

        <md-tab label="{{ 'Questions' | translate }}">
        </md-tab>
    </md-tabs>
</div>