<div class="md-padding" ng-cloak layout="column" ng-controller="BackofficeAnrObjectInstanceCtrl">
    <div layout="row" layout-align="space-around start">
        <div flex="20" ng-if="object">
            <h2>{{ object.name1 }}</h2>

            <p>{{ object.label1 }}</p>
        </div>

        <div flex="20" ng-if="!object">
            <md-progress-circular md-indeterminate="true"></md-progress-circular>
        </div>

        <md-card flex="70">
            <md-card-content layout="column" layout-gt-md="row" flex layout-wrap>
                <div flex="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Confidentiality:&nbsp;</div>
                    <div flex="65" translate>Inherited</div>
                </div>

                <div flex="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Integrity:&nbsp;</div>
                    <div flex="65" translate>Inherited</div>
                </div>

                <div flex="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Availability:&nbsp;</div>
                    <div flex="65" translate>Inherited</div>
                </div>
            </md-card-content>
        </md-card>

        <md-fab-speed-dial md-open="false" md-direction="down" class="md-fling md-fab-top-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <md-icon>menu</md-icon>
                    <md-tooltip md-direction="left">{{ 'Object actions' | translate }}</md-tooltip>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="{{ 'Edit instance settings' | translate }}" class="md-fab md-raised md-mini" ng-click="editInstance($event, object)">
                    <md-icon>edit</md-icon>
                    <md-tooltip md-direction="left">{{ 'Edit instance settings' | translate }}</md-tooltip>
                </md-button>

                <md-button aria-label="{{ 'Detach' | translate }}" class="md-fab md-raised md-mini">
                    <md-icon>content_cut</md-icon>
                    <md-tooltip md-direction="left">{{ 'Detach' | translate }}</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>



    <md-card>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="{{ 'General information' | translate }}">
                <div class="md-padding">
                    <p class="md-title" translate>This asset is attached to the following parents</p>

                    <ul class="md-treeview">
                        <li class="md-treeview-root">
                            <a ui-sref="main.kb_mgmt.info_risk.object({objectId: object.id})"><md-icon>place</md-icon> {{ object.name1 }}</a>
                            <ul>
                                <li ng-repeat="node in composition"
                                    ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
                                    ng-include="'objlibs.tree_item_template.html'"></li>
                            </ul>
                        </li>
                    </ul>
            </md-tab>

            <md-tab label="{{ 'Risks table' | translate }}">
                <div class="md-padding-left md-padding-right" ng-if="sheet_id">
                    <h3 translate layout="row" layout-align="start center"><md-button class="md-icon-button" ng-click="resetSheet()"><md-icon>arrow_back</md-icon></md-button> Risk sheet</h3>

                    <table class="md-html-table">
                        <tbody>
                        <tr>
                            <td class="bold txtright" translate>Threat:</td>
                            <td>Erreur d'utilisation</td>
                        </tr>
                        <tr>
                            <td class="bold txtright" translate>Vulnerability:</td>
                            <td>Les administrateurs n'ont pas suivi des formations à la sécurité</td>
                        </tr>
                        <tr>
                            <td class="bold txtright" translate>Observations:</td>
                            <td>Hello world</td>
                        </tr>
                        <tr>
                            <td class="bold txtright" translate>Threat probability:</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td class="bold txtright" translate>Vulnerability qualification:</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td class="bold txtright" translate>Measure #1:</td>
                            <td>7.2.2 - Sensibilisation, qualification et formations en matière de sécurité de l'information</td>
                        </tr>
                        <tr>
                            <td class="bold txtright" translate>Measure #2:</td>
                            <td>7.2.2 - Sensibilisation, qualification et formations en matière de sécurité de l'information</td>
                        </tr>
                        <tr>
                            <td class="bold txtright" translate>Measure #3:</td>
                            <td>7.2.2 - Sensibilisation, qualification et formations en matière de sécurité de l'information</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="tbl-risk-calc">
                        <thead>
                        <tr>
                            <th></th>
                            <th>C</th>
                            <th>I</th>
                            <th>D</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="bold txtright wide" translate>Current risk</td>
                            <td class="txtcenter green">-1</td>
                            <td class="txtcenter green">-1</td>
                            <td class="txtcenter green">-1</td>
                        </tr>
                        <tr>
                            <td class="bold txtright wide" translate>Target risk</td>
                            <td class="txtcenter green">-1</td>
                            <td class="txtcenter green">-1</td>
                            <td class="txtcenter green">-1</td>
                        </tr>
                        </tbody>
                    </table>

                    <form class="md-padding">
                        <md-input-container class="md-block">
                            <label translate>Processing type</label>
                            <md-icon>widgets</md-icon>
                            <md-select ng-model="sheet_processing">
                                <md-option value="0">{{ 'Not processed' | translate }}</md-option>
                                <md-option value="1">{{ 'Reduction' | translate }}</md-option>
                                <md-option value="2">{{ 'Denied' | translate }}</md-option>
                                <md-option value="3">{{ 'Accepted' | translate }}</md-option>
                                <md-option value="4">{{ 'Shared' | translate }}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label translate>Reduce vulnerability by</label>
                            <md-icon>trending_down</md-icon>
                            <md-select ng-model="sheet_reduction">
                                <md-option value="0">0</md-option>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                            </md-select>
                        </md-input-container>

                        <p class="bold" translate>List of recommendations:</p>
                        <ul>
                            <li><strong>#HALO</strong> &gt; test</li>
                        </ul>

                        <div layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary">{{ 'Save changes' | translate }}</md-button>
                        </div>
                    </form>
                </div>

                <table class="md-html-table" ng-if="!sheet_id">
                    <thead>
                    <tr>
                        <th colspan="3"><p translate>Impact</p></th>
                        <th rowspan="2"><p translate>Threat</p></th>
                        <th rowspan="2"><p translate>Prob.</p></th>
                        <th rowspan="2"><p translate>Vulnerability</p></th>
                        <th rowspan="2"><p translate>Qualif.</p></th>
                        <th colspan="3"><p translate>Risk</p></th>
                        <th rowspan="2"><p translate>Observation</p></th>
                        <th rowspan="2"><p translate>T</p></th>
                        <th rowspan="2"><p translate>Target risk</p></th>
                        <th rowspan="2"><p translate>Actions</p></th>
                    </tr>
                    <tr>
                        <th>C</th>
                        <th>I</th>
                        <th>D</th>
                        <th>C</th>
                        <th>I</th>
                        <th>D</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>-1</td>
                        <td>-1</td>
                        <td>-1</td>
                        <td>Récupération de supports recyclés ou mis au rebut</td>
                        <td>-</td>
                        <td>La mise au rebut n'est pas correctement assurée</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td><md-button class="md-icon-button" ng-click="openRiskSheet()"><md-icon>open_in_new</md-icon></md-button></td>
                    </tr>
                    </tbody>
                </table>
            </md-tab>
        </md-tabs>
    </md-card>
</div>

<script type="text/ng-template" id="objlibs.tree_item_template.html">
    <a ui-sref="main.kb_mgmt.info_risk.object({objectId: node.id})"><md-icon>{{ node.children && node.children.length > 0 ? 'add': 'note' }}</md-icon> {{ node.name1 }}</a>
    <md-button class="md-icon-button"><md-icon>arrow_upward</md-icon></md-button>
    <md-button class="md-icon-button"><md-icon>arrow_downward</md-icon></md-button>
    <md-button class="md-icon-button" ng-click="deleteCompositionItem($event, node)"><md-icon>delete</md-icon></md-button>

    <ul ng-if="node.children && node.children.length > 0">
        <li ng-repeat="node in node.children"
            ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
            ng-include="'objlibs.tree_item_template.html'"></li>
    </ul>
</script>