<div flex ng-controller="BackofficeAnalysisGuidesItemsCtrl" class="md-padding-left md-padding-right">
  <h3 layout="row" layout-align="start center"><md-button class="md-primary md-light-theme" ui-sref="main.kb_mgmt.analysis_guides"><md-icon>arrow_back</md-icon> {{ 'Back to the list' | translate }}</md-button></h3>
  <span class="md-subhead md-padding-left" translate>Guide items</span>
  <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'New guide item' | translate }}" ng-click="createNewItem($event)">
      <md-tooltip md-direction="left">
        {{ 'New guide item' | translate }}
      </md-tooltip>
      <md-icon>add_to_photos</md-icon>
  </md-button>


    <md-table-container flex>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column><span translate>Position</span></th>
                <th md-column><span translate>Description</span></th>
                <th md-column><span translate>Actions</span></th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row ng-repeat="item in items">
                <td md-cell>{{ item.position }}</td>
                <td md-cell>{{ _langField(item,'description') }}</td>
                <td md-cell>
                    <md-button class="md-icon-button md-primary" ng-click="editItem($event, item)">
                        <md-icon>edit</md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-warn" ng-click="deleteItem($event, item)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

</div>
