<div layout="row" layout-align="center center" class="md-main-content" ng-controller="BackofficeLoginCtrl" style="background: #F0F0F0" flex>
    <div layout="column" flex flex-gt-sm="50" flex-gt-md="40" class="md-whiteframe-12dp" style="background: white">
        <div layout-align="center center" layout="row" class="md-padding">
            <img src="img/logo-cases.png">
        </div>

        <form layout="column" class="md-padding" ng-submit="login()">
            <md-input-container flex>
                <label translate>Email</label>
                <md-icon>email</md-icon>
                <input ng-model="user.email" type="email" ng-disabled="isLoggingIn">
            </md-input-container>

            <md-input-container flex>
                <label translate>Password</label>
                <md-icon>vpn_key</md-icon>
                <input ng-model="user.password" type="password" ng-disabled="isLoggingIn">
            </md-input-container>

            <div layout="row">
                <span flex></span>
                <md-button class="md-primary" ng-click="login()" ng-hide="isLoggingIn">{{ 'Log in' | translate }}</md-button>
                <md-progress-circular ng-show="isLoggingIn" md-mode="indeterminate" md-diameter="48"></md-progress-circular>
                <input type="submit" style="position: absolute; left: -99999px">
            </div>
        </form>
    </div>
</div>