<div class="md-padding" ng-cloak layout="column" ng-controller="BackofficeKbInfoObjectCtrl">
    <div layout="row" layout-align="space-around center">
        <div flex="20">
            <h2>{{ object.name1 }}</h2>

            <p>{{ object.label1 }}</p>
        </div>

        <md-card flex="70">
            <md-card-content layout="column" layout-gt-md="row" flex layout-wrap>
                <div flex="50" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Asset type:</div>
                    <div flex="65">{{ object.asset.code }} - {{ object.asset.label1 }}</div>
                </div>

                <div flex="50" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Confidentiality:</div>
                    <div flex="65" translate>Inherited</div>
                </div>

                <div flex="50" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Object specifics:</div>
                    <div flex="65"></div>
                </div>

                <div flex="50" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Integrity:</div>
                    <div flex="65" translate>Inherited</div>
                </div>

                <div flex="50" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Maximum unavailability:</div>
                    <div flex="65"></div>
                </div>

                <div flex="50" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div flex="33" class="bold txtright" translate>Availability:</div>
                    <div flex="65" translate>Inherited</div>
                </div>
            </md-card-content>
        </md-card>

        <md-fab-speed-dial md-open="false" md-direction="down" class="md-fling md-fab-top-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <md-icon>menu</md-icon>
                    <md-tooltip md-direction="left">{{ 'Object actions' | translate }}</md-tooltip>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="{{ 'Add component' | translate }}" class="md-fab md-raised md-mini" ng-click="createComponent($event)">
                    <md-icon>add_to_photos</md-icon>
                    <md-tooltip md-direction="left">{{ 'Add component' | translate }}</md-tooltip>
                </md-button>

                <md-button aria-label="{{ 'Edit object' | translate }}" class="md-fab md-raised md-mini" ng-click="editObjlib($event, object)">
                    <md-icon>edit</md-icon>
                    <md-tooltip md-direction="left">{{ 'Edit object' | translate }}</md-tooltip>
                </md-button>

                <md-button aria-label="{{ 'Duplicate object' | translate }}" class="md-fab md-raised md-mini">
                    <md-icon>control_point_duplicate</md-icon>
                    <md-tooltip md-direction="left">{{ 'Duplicate object' | translate }}</md-tooltip>
                </md-button>

                <md-button aria-label="{{ 'Export object' | translate }}" class="md-fab md-raised md-mini">
                    <md-icon>save</md-icon>
                    <md-tooltip md-direction="left">{{ 'Export object' | translate }}</md-tooltip>
                </md-button>

                <md-button aria-label="{{ 'Delete object' | translate }}" class="md-fab md-raised md-mini md-warn" ng-click="deleteObject($event)">
                    <md-icon>delete</md-icon>
                    <md-tooltip md-direction="left">{{ 'Delete object' | translate }}</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>



    <md-card>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="{{ 'General information' | translate }}">
                <div class="md-padding">
                    <div layout="row" layout-align="left center">
                        <p class="md-title" translate>Composition</p>
                        <md-button class="md-primary" ng-click="createComponent($event)">{{ 'Add a component' | translate }}</md-button>
                    </div>

                    <ul class="md-treeview">
                        <li class="md-treeview-root">
                            <a ui-sref="main.kb_mgmt.info_risk.object({objectId: object.id})"><md-icon>place</md-icon> {{ object.name1 }}</a>
                            <ul>
                                <li ng-repeat="node in composition"
                                    ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
                                    ng-include="'objlibs.tree_item_template.html'"></li>
                            </ul>
                        </li>
                    </ul>

                    <p class="md-title" translate>Object replica(s) in models</p>

                    <p translate>This object has no replica(s) in models.</p>

                    <p class="md-title" translate>Scope</p>

                    <div ng-show="object.scope == 1">
                        <p translate>This object is <strong>LOCAL</strong>. Any change made on the following
                            fields will be applied on every instance in the risk analysis:</p>
                        <ul>
                            <li translate>Confidentiality impact</li>
                            <li translate>Integrity impact</li>
                            <li translate>Availability impact</li>
                        </ul>

                        <p translate>In the library, you may not qualify threats and vulnerabilities of the object.
                            It must be done in context during the risk analysis.</p>
                    </div>

                    <div ng-show="object.scope == 2">
                        <p translate>This object is <strong>GLOBAL</strong>. The following values will be common
                            to every instance in the risk analysis:</p>
                        <ul>
                            <li translate>Confidentiality impact</li>
                            <li translate>Integrity impact</li>
                            <li translate>Availability impact</li>
                            <li translate>Threats and vulnerabilities qualification</li>
                        </ul>

                        <p translate>Any change made on these values will be applied to instances of this object in the
                            risk analysis.</p>
                    </div>
                </div>
            </md-tab>

            <md-tab label="{{ 'Risks table' | translate }}">
                <md-card class="md-card-info"><md-card-content>
                    <p translate>You are in the knowledge base. No evaluation may be set in this space.</p>
                </md-card-content></md-card>

                <p class="md-title md-padding" translate>{{ 3 }} AMV links</p>

                <table class="md-html-table">
                    <thead>
                    <tr>
                        <th colspan="3"><p translate>Impact</p></th>
                        <th rowspan="2"><p translate>Threat</p></th>
                        <th rowspan="2"><p translate>Prob.</p></th>
                        <th rowspan="2"><p translate>Vulnerability</p></th>
                        <th rowspan="2"><p translate>Qualif.</p></th>
                        <th colspan="3"><p translate>Risk</p></th>
                        <th rowspan="2"><p translate>Observation</p></th>
                        <th rowspan="2"><p translate>T</p></th>
                        <th rowspan="2"><p translate>Target risk</p></th>
                    </tr>
                    <tr>
                        <th>C</th>
                        <th>I</th>
                        <th>D</th>
                        <th>C</th>
                        <th>I</th>
                        <th>D</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>-1</td>
                        <td>-1</td>
                        <td>-1</td>
                        <td>Récupération de supports recyclés ou mis au rebut</td>
                        <td>-</td>
                        <td>La mise au rebut n'est pas correctement assurée</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    </tbody>
                </table>
            </md-tab>
        </md-tabs>
    </md-card>
</div>

<script type="text/ng-template" id="objlibs.tree_item_template.html">
    <a ui-sref="main.kb_mgmt.info_risk.object({objectId: node.id})"><md-icon>{{ node.children && node.children.length > 0 ? 'add': 'note' }}</md-icon> {{ node.name1 }}</a>
    <md-button class="md-icon-button"><md-icon>arrow_upward</md-icon></md-button>
    <md-button class="md-icon-button"><md-icon>arrow_downward</md-icon></md-button>
    <md-button class="md-icon-button" ng-click="deleteCompositionItem($event, node)"><md-icon>delete</md-icon></md-button>

    <ul ng-if="node.children && node.children.length > 0">
        <li ng-repeat="node in node.children"
            ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
            ng-include="'objlibs.tree_item_template.html'"></li>
    </ul>
</script>