<md-dialog class="dialog-width">
    <form name="clientForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!client.id" translate>Add a client</h2>
                <h2 ng-if="client.id" translate>Edit client</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container class="md-block" flex>
                    <label translate>Company</label>
                    <md-icon>business</md-icon>
                    <input ng-model="client.name" name="name" required>
                    <div ng-messages="clientForm.name.$error">
                        <div ng-message="required">{{ 'The name may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Server</label>
                    <md-icon>storage</md-icon>
                    <md-select ng-disabled="client.id" ng-model="client.server_id" name="server_id" required>
                        <md-option ng-repeat="server in servers" ng-value="server.id">{{ server.label }} [ {{server.fqdn}} ]</md-option>
                    </md-select>

                    <div ng-messages="clientForm.server_id.$error">
                        <div ng-message="required">{{ 'You must select a server' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Proxy alias</label>
                    <md-icon>redo</md-icon>
                    <input ng-disabled="client.id" name="proxyAlias" required ng-model="client.proxyAlias" ng-pattern="/^[a-zA-Z0-9_-]{3,}$/">
                    <div ng-messages="clientForm.proxyAlias.$error">
                        <div ng-message="required">{{ 'The proxy alias may not be empty' | translate }}</div>
                        <div ng-message="pattern">{{ 'The proxy alias may only contain alphanumeric characters, underscores and dashes, and must be at least 3 characters long.' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex ng-if="models.length > 0">
                    <label translate>Specific models</label>
                    <md-icon>widgets</md-icon>
                    <md-select ng-model="client.model_id" name="model_id" multiple>
                        <md-option ng-repeat="model in models" ng-value="model.id">{{ _langField(model,'label') }}</md-option>
                    </md-select>

                    <div ng-messages="clientForm.model_id.$error">
                        <div ng-message="required">{{ 'You must select a model' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>First user first name</label>
                    <md-icon>person</md-icon>
                    <input ng-model="client.first_user_firstname" name="first_user_firstname" required>
                    <div ng-messages="clientForm.first_user_firstname.$error">
                        <div ng-message="required">{{ 'The first user first name may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>First user last name</label>
                    <md-icon>person</md-icon>
                    <input ng-model="client.first_user_lastname" name="first_user_lastname" required>
                    <div ng-messages="clientForm.first_user_lastname.$error">
                        <div ng-message="required">{{ 'The first user last name may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>First user email</label>
                    <md-icon>email</md-icon>
                    <input ng-model="client.first_user_email" name="first_user_email" type="email" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required>
                    <div ng-messages="clientForm.first_user_email.$error">
                        <div ng-message="required">{{ 'The first user email may not be empty' | translate }}</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="clientForm.$error.required || clientForm.$error.email" type="submit" class="md-accent md-hue-3">
                {{ (client.id ? 'Save' : 'Create') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
