<md-dialog class="dialog-width">
    <form name="guideForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!model.id" translate>Add a guide</h2>
                <h2 ng-if="model.id" translate>Edit guide</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex>
                    <label translate>Category</label>
                    <md-icon>class</md-icon>
                    <md-select ng-model="guide.type" name="type" required>
                        <md-option ng-repeat="category in categories" ng-value="category.id">{{ category.label }}</md-option>
                    </md-select>
                    <div ng-messages="guideForm.type.$error">
                        <div ng-message="required">{{ 'You must select a category' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Mode</label>
                    <md-icon>class</md-icon>
                    <md-select ng-model="guide.isWithItems" name="isWithItems" required>
                        <md-option ng-value="0">{{ 'No items' | translate }}</md-option>
                        <md-option ng-value="1">{{ 'Contains items' | translate }}</md-option>
                    </md-select>
                    <div ng-messages="guideForm.isWithItems.$error">
                        <div ng-message="required">{{ 'You must select a mode' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Language</label>
                    <md-icon>language</md-icon>
                    <md-select ng-model="language">
                        <md-option ng-repeat="(lang_idx, lang) in languages" value="{{ lang_idx }}" ng-controller="BackofficeAccountCtrl">
                          <countryflag country="{{ countriesCode[lang_idx] }}"></countryflag>
                          {{ languagesNames[lang_idx] }}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Description</label>
                    <md-icon>label</md-icon>
                    <textarea ng-model="guide['description' + language]"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="guideForm.$error.required" class="md-accent md-hue-3">
                {{ (guide.id > 0 ? 'Save' : 'Create') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
