<md-dialog class="dialog-width">
    <form name="clientForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!client.id" translate>Add a new client</h2>
                <h2 ng-if="client.id" translate>Update client information ({{ client.proxyAlias }})</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container class="md-block" flex>
                    <label translate>Company</label>
                    <md-icon>business</md-icon>
                    <input ng-model="client.name" name="name" required>
                    <div ng-messages="clientForm.name.$error">
                        <div ng-message="required">{{ 'The name may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Server</label>
                    <md-icon>storage</md-icon>
                    <md-select ng-disabled="client.id" ng-model="client.server_id" name="server_id" required>
                        <md-option ng-repeat="server in servers" ng-value="server.id">{{ server.label }} [ {{server.fqdn}} ]</md-option>
                    </md-select>

                    <div ng-messages="clientForm.server_id.$error">
                        <div ng-message="required">{{ 'You must select a server' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Proxy alias</label>
                    <md-icon>redo</md-icon>
                    <input ng-disabled="client.id" name="proxyAlias" required ng-model="client.proxyAlias">
                    <div ng-messages="clientForm.proxyAlias.$error">
                        <div ng-message="required">{{ 'The proxy alias may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <div class="md-block" flex>
                    <div layout="row">
                        <md-icon style="margin-right: 10px;">language</md-icon>

                        <md-autocomplete flex required
                                         md-require-match="true"
                                         md-no-cache="true"
                                         md-input-name="country"
                                         md-selected-item="client.country"
                                         md-selected-item-change="selectedCountryItemChange(item)"
                                         md-search-text="searchCountryText"
                                         md-items="item in queryCountrySearch(searchCountryText)"
                                         md-item-text="item.name"
                                         md-min-length="2"
                                         md-floating-label="{{ 'Country' | translate }}">
                            <md-item-template>
                                <span md-highlight-text="searchCountryText" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                                {{ 'No country matching your search was found' | translate }}
                            </md-not-found>

                            <div ng-messages="clientForm.country.$error" ng-if="clientForm.country.$touched">
                                <div ng-message="required">{{ 'You must select a country' | translate }}</div>
                            </div>
                        </md-autocomplete>
                    </div>
                </div>

                <md-input-container class="md-block" flex>
                    <label translate>Address</label>
                    <md-icon>map</md-icon>
                    <input ng-model="client.address">
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Postal code</label>
                    <md-icon>pin_drop</md-icon>
                    <input ng-model="client.postalcode">
                </md-input-container>

                <div class="md-block" flex>
                    <div layout="row">
                        <md-icon style="margin-right: 10px;">location_city</md-icon>

                        <md-autocomplete flex required
                                         md-require-match="true"
                                         md-no-cache="true"
                                         md-input-name="city"
                                         md-selected-item="client.city"
                                         md-search-text="searchCityText"
                                         md-items="item in queryCitySearch(searchCityText)"
                                         md-item-text="item.label"
                                         md-min-length="2"
                                         md-floating-label="{{ 'City' | translate }}">
                            <md-item-template>
                                <span md-highlight-text="searchCountryText" md-highlight-flags="^i">{{item.label}}</span>
                            </md-item-template>
                            <md-not-found>
                                {{ 'No city matching your search was found' | translate }}
                            </md-not-found>

                            <div ng-messages="clientForm.city.$error" ng-if="clientForm.city.$touched">
                                <div ng-message="required">{{ 'You must select a city' | translate }}</div>
                            </div>
                        </md-autocomplete>
                    </div>
                </div>

                <md-input-container class="md-block" flex>
                    <label translate>Phone</label>
                    <md-icon>phone</md-icon>
                    <input ng-model="client.phone">
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Fax</label>
                    <md-icon>print</md-icon>
                    <input ng-model="client.fax">
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Email</label>
                    <md-icon>email</md-icon>
                    <input ng-model="client.email" type="email" name="email">

                    <div ng-messages="clientForm.email.$error">
                        <div ng-message="email">{{ 'This does not look like an e-mail address' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Employees number</label>
                    <md-icon>people</md-icon>
                    <input ng-model="client.employees_number">
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Contact full name</label>
                    <md-icon>account_box</md-icon>
                    <input ng-model="client.contact_fullname">
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Contact e-mail</label>
                    <md-icon>contact_mail</md-icon>
                    <input ng-model="client.contact_email" type="email" name="contact_email">

                    <div ng-messages="clientForm.contact_email.$error">
                        <div ng-message="email">{{ 'This does not look like an e-mail address' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Contact phone number</label>
                    <md-icon>contact_phone</md-icon>
                    <input ng-model="client.contact_phone">
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Model</label>
                    <md-icon>widgets</md-icon>
                    <md-select ng-model="client.model_id" name="model_id" ng-disabled="client.id" required>
                        <md-option ng-repeat="model in models" ng-value="model.id">{{ model[_langField('label')] }}</md-option>
                    </md-select>

                    <div ng-messages="clientForm.model_id.$error">
                        <div ng-message="required">{{ 'You must select a model' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>First user first name</label>
                    <md-icon>person</md-icon>
                    <input ng-model="client.first_user_firstname" name="first_user_firstname" required ng-disabled="client.id">
                    <div ng-messages="clientForm.first_user_firstname.$error">
                        <div ng-message="required">{{ 'The first user first name may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>First user last name</label>
                    <md-icon>person</md-icon>
                    <input ng-model="client.first_user_lastname" name="first_user_lastname" required ng-disabled="client.id">
                    <div ng-messages="clientForm.first_user_lastname.$error">
                        <div ng-message="required">{{ 'The first user last name may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>First user email</label>
                    <md-icon>email</md-icon>
                    <input ng-model="client.first_user_email" name="first_user_email" type="email" required ng-disabled="client.id">
                    <div ng-messages="clientForm.first_user_email.$error">
                        <div ng-message="required">{{ 'The first user email may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>First user phone</label>
                    <md-icon>phone</md-icon>
                    <input ng-model="client.first_user_phone" name="first_user_phone" required ng-disabled="client.id">
                    <div ng-messages="clientForm.first_user_phone.$error">
                        <div ng-message="required">{{ 'The first user phone may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="clientForm.$error.required || clientForm.$error.email" type="submit" class="md-accent md-hue-3">
                {{ (client.id ? 'Update' : 'Create') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
